*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.text{
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.text p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    height: 600px;
    margin-bottom: 10px;
}
.img {
    width: 100%;
    border-radius: 10px;
    opacity: 0;
}
.loaded {
    width: 100%;
    border-radius: 10px;
    opacity: 1;
}