*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #444;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-Area{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    font-size: larger;
    margin: 20px 0;
    list-style: none;
}
#textarea{
    background-color: #555;
    border: none;
    border-radius: 10px;
    padding: 10px;
   box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   color: white;
}